<footer class="x-footer">
<div class="f-left">
<div class="f-logo">NEXUS SUITE</div>
<div class="f-copy">© 2025 All rights reserved.</div>
</div>

<div class="f-center">
<div class="f-link" data-link="/client/pages/14-help/help.html">Help</div>
<div class="f-link" data-link="/client/pages/07-settings/settings.html">Settings</div>
<div class="f-link" data-link="/client/pages/13-payments/payments.html">Payments</div>
</div>

<div class="f-right">
<div class="f-social" data-url="https://youtube.com">YT</div>
<div class="f-social" data-url="https://github.com">GH</div>
<div class="f-social" data-url="https://instagram.com">IG</div>
</div>
</footer>

<link rel="stylesheet" href="/client/components/footer.css">
<script src="/client/components/footer.js"></script>
